.contact-app {
    text-align: center;
    padding-top: 25px;
    height: calc(100vh - 100px);
    // margin: 0 auto;

    h1 {
        margin-bottom: 25px;
    }

    .contact-filter {
        margin-bottom: 35px;

        input {
            margin: 0 auto;
            text-align: center;
            width: 250px;
        }
    }

}