.contact-details {
    padding: 55px 0 50px;

    h1 {
        margin-bottom: 50px;
    }

    .contact-data {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 1px 1px 3px $black-opc;
        padding: 25px;
        width: 400px;

        .actions {
            width: 100%;
            display: flex;
            justify-content: space-between;

            button {
                margin: 0;
            }

            .btn-edit {
                background-color: $bg;
                color: $brand;

            }
        }


        h2 {
            color: $brand;
            margin-bottom: 25px;
            font-weight: 500;
        }

        h3 {
            margin-bottom: 15px;
            font-weight: 400;

            &.last {
                margin-bottom: 0;
            }
        }

        .actions {
            margin: 0 auto;

            &>* {
                margin: 0 15px;
            }
        }

        .transfers {

            h3 {
                color: $brand;
                margin-bottom: 20px;
            }

            form {
                display: flex;
                justify-content: center;
                gap: 25px;
                margin-bottom: 30px;

                input {
                    width: 100px;
                    text-align: center;
                }

                button {
                    margin: 0;
                    background-color: $brand;
                    color: $bg;
                }
            }

            .transfers-history {
                background-color: $bg;
                display: flex;
                flex-direction: column;
                padding: 20px;
                gap: 20px;

                .transaction-preview {
                    display: flex;
                    justify-content: space-between;
                    // padding: 10px;

                    a {
                        display: none;
                    }

                    h4 {
                        font-weight: 400;

                        span {
                            color: $brand;
                            font-weight: 600;
                        }
                    }

                    h5 {
                        font-weight: 600;
                        font-style: italic;
                        align-self: flex-end;
                    }
                }
            }
        }
    }
}