.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 10px;
    background-color: $brand;
    color: $bg;

    h1 {
        font-size: rem(25px);
        cursor: pointer;
    }

    nav {
        display: flex;
        gap: 20px;

        a {
            color: $bg;
        }

        a.router-link-active {
            color: $coin;
        }

        p {
            cursor: pointer;
            color: $clr2;
        }
    }
}