// COLOR PALETTE
$txt: #0a0a0a;
$bg: #edf2f4;
$bg-opc: #edf2f42b;

$brand: #162336;

$coin: #ffd700;
$fail: #cc171d;
$success: #8dbf41;

$clr1: #325765;
$clr2: #4d818c;



//HELPER
$white : #ffffff;
$black: #0a0a0a;
$black-opc: #0a0a0a50;